body {
	font-family: "Lato", sans-serif;
    font-size: 100%;
    background-color: cornflowerblue;
    display: flex;
	display: -webkit-flex;
  	-webkit-align-items: center;
 	align-items: center;
	flex-direction: column;
}

.page {
    width: 80%;
    background-color: darkgrey;
}

.menu {
    width: 100%;
    display: flex;
	display: -webkit-flex;
  	-webkit-align-items: stretch;
 	align-items: stretch;
	flex-direction: row;
}

#my_name {
    
}

.buttons {
    text-align: right;
}

.profile_block {
    width: 80%;
    background-color: darkgrey;
}

