/* social buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
      color: white;
      border-width: medium;
      border-radius: 15px;
  }
  
  .fa-facebook {
    background: rgb(240, 158, 233);
    color: white;
    border-width: medium;
    border-radius: 15px;
  }
  .fa-twitter{
    background: rgb(240, 158, 233);
    color: white;
    border-width: medium;
    border-radius: 15px;

  }