body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
    margin-bottom: 12px
}
.w3-sidebar {
    width: 120px;
    background: #222
}
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}
#main {
    margin-left: 120px
}
#home {
     background: rgb(0,0,0);
     background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%)
}
.fa {
    color: #357EC7
}